:root {
  --green: #c5d5c5;
  --gray: #9fa9a3;
  --yellow: #e3e0cc;
}

div {
  width: 100%;
  height: 100px;
}

#contenedor1 {
  background-color: var(--green);
}

#contenedor2 {
  background-color: var(--gray);
}

#contenedor3 {
  background-color: var(--yellow);
}


