.father {
  background-color: #2a2a2a;
  height: 80px;
}

.active {
  cursor: pointer;
  padding-top: 20px;
  display: flex;  
  justify-content: center;
}

.active::after {
  content: ".";
  color: red;
  font-size: 40px;
  position: absolute;
}
