* {
  margin: 0;
  padding: 0;
  color: #4e4e4e;
  list-style-type: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

/* sombras agregadas, solo estético */
.shadow {
  box-shadow: 0.1px 1.8px 2.2px rgba(0, 0, 0, 0.062),
    0.3px 4.4px 5.3px rgba(0, 0, 0, 0.089), 0.5px 8.3px 10px rgba(0, 0, 0, 0.11),
    0.9px 14.7px 17.9px rgba(0, 0, 0, 0.131),
    1.7px 27.6px 33.4px rgba(0, 0, 0, 0.158), 4px 66px 80px rgba(0, 0, 0, 0.22);
}

/* sombras agregadas, solo estético */
.vertical-shadow {
  box-shadow: -0.6px 0px 2.2px rgba(0, 0, 0, 0.062),
    0.2px 0px 5.3px rgba(0, 0, 0, 0.089), 4.2px 0px 10px rgba(0, 0, 0, 0.11),
    4.7px 0px 17.9px rgba(0, 0, 0, 0.131), 4.5px 0px 33.4px rgba(0, 0, 0, 0.158),
    4px 0px 80px rgba(0, 0, 0, 0.22);
}

/* el elemento contenedor principal */
.father {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
    circle,
    #3a3b38,
    #2f3230,
    #262928,
    #1e2020,
    #161718
  );
}

header {
  background-color: #2a2a2a;
  padding-top: 10px;
}

/* primera fila de elementos del header */
/* formado por una lista de elementos (ul) */ 
header > nav > ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* segunda fila de elementos del header */
/* formado por un div y botones */ 
header > nav > div {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

header > nav > div > button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 150px;
}

header > nav > div > button:hover {
  color: white;
}

footer {
  background-color: #2a2a2a;
  height: 9vh; /* 9% vertical */
}

/* unica fila de elementos del footer */
/* formado por una lista de elementos (ul) */ 
footer > nav > ul {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.active::after {
  content: ".";
  color: red;
  font-size: 40px;
  position: absolute;
}

.active-button {
  color: white;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #c23469;
}

.title-nav-bar-top {
  font-size: 14px;
  padding: 10px;
  color: white;
}

.grilla {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.card {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.017),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.024),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.03),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.036),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.043),
    100px 100px 80px rgba(0, 0, 0, 0.06);
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  transition: all ease-out 250ms;
  cursor: pointer;
}

.card:hover {
  opacity: 0.7;
  font-size: 24px;
}

.card > img {
  width: 100%;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  padding: 10px;
  z-index: 100;
}

.horizontal > .card-info > img {
  margin-bottom: 100%;
}

.vertical > .card-info > img {
  margin-bottom: 100%;
}

.card-info > h3 {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.card-info > p {
  color: #9f9f9f;
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right top,
    rgba(163, 64, 176, 0.7) 20%,
    rgba(228, 130, 108, 0.9) 90%
  );
}

/* mostrar el cursos la pasar por arriba */
/* de uno de los íconos */
.interactable {
  cursor: pointer;
  transition: all ease-out 250ms;
}

/* hacer crecer el padding del ícono */
/* cuando se pasa el cursos por arriba */
.interactable:hover {
  padding: 10px;
  border-bottom: 3px solid #c23469;
}

/* en aplicaciones no móviles (min width 1000px) */
@media screen and (min-width: 1000px) {
  /* hacer que la grilla tome todo el vertical posible */
  .grilla {
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  /* que las cards comunes tomen 2 filas y 1 columna */
  .normal {
    grid-column: span 1;
    grid-row: 2;
  }
}
